<div [class.is-mobile]="mobileQuery.matches">

    <app-header (emitToggle)="eventoClickHeader($event)"></app-header>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a class="menu" mat-list-item routerLink="creacion" *ngFor="let nav of fillerNav">
                    <mat-icon class="icon-padding-right icon-file" svgIcon="create"></mat-icon>
                    {{nav.label}}
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>