<div [class.is-mobile]="mobileQuery.matches">

    <app-header (emitToggle)="eventoClickHeader($event)"></app-header>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a class="menu" mat-list-item [routerLink]="nav.router" *ngFor="let nav of fillerNav">
                    <div style="display: flex;">
                        <div>
                            <mat-icon class="icon" [svgIcon]="nav.icon"></mat-icon>
                        </div>
                        <div>
                            {{nav.label}}
                        </div>
                    </div>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="container">
            <!-- <div class="header-img"></div> -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
<!-- <app-footer></app-footer> -->