<app-principal-title [title]="title"></app-principal-title>

<mat-divider></mat-divider>

<div class="cards space-between">

    <app-selection-card cardNumber="12" cardTitle="soporte"></app-selection-card>
    <app-selection-card cardNumber="2" cardTitle="registro personas"></app-selection-card>
    <app-selection-card cardNumber="24" cardTitle="bodega"></app-selection-card>
    <app-selection-card cardNumber="1" cardTitle="desarrollo"></app-selection-card>
    <app-selection-card cardNumber="100" cardTitle="casino"></app-selection-card>

</div>

<div>

    <app-table-ticket></app-table-ticket>

</div>