<div class="content-chat">
    <mat-card class="letter-desc" *ngFor="let m of messages" [ngClass]="{'message-right': m.type === 1, 'message-left': m.type === 2}">
        {{ m.description }}
    </mat-card>
    <div class="container-form">
        <mat-form-field class="send-chat" appearance="outline">
            <mat-label>Escriba un mensaje</mat-label>
            <textarea matInput resizeToFitContent cdkTextareaAutosize cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <div class="send-chat-button">
            <app-principal-button title="enviar" primary="true"></app-principal-button>
        </div>
    </div>
</div>