/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e2eaea;}

.container {
    padding: 1.2em;
}

.align-right {
    text-align: right;
}

.margin-bottom {
    margin-bottom: 0.8em;
}

.space-between {
    margin: 30px 0px 30px 0px !important;
}

.mat-table th {
    color: #3F51B5;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mat-table td {
    color: gray;
}

.title-letter {
    color: gray;
    font-weight: 550;
    letter-spacing: 1px;
}

.container-flex {
    display: flex;
}

mat-card-subtitle {
    padding-top: 16px;
}

.wd-10 {
    width: 10%
}

.wd-20 {
    width: 20%
}

.wd-25 {
    width: 25%
}

.wd-30 {
    width: 30%
}

.wd-40 {
    width: 40%
}

.wd-50 {
    width: 50%
}

.wd-60 {
    width: 06%
}

.wd-70 {
    width: 70%
}

.wd-80 {
    width: 80%
}

.wd-90 {
    width: 90%
}

.wd-95 {
    width: 95%
}

.wd-100 {
    width: 100%
}
