.card-info {
    width: 50%
}

.card-chat {
    width: 50%;
    margin-left: 1.2em !important;
}

mat-form-field {
    width: 80%;
    margin-right: 12px;
}

div .chat {
    width: 100%;
    border: 1px lightgray solid;
    background-color: lightsteelblue;
    border-radius: 10px;
}

