div .chat {
    width: 100%;
    border: 1px lightgray solid;
    background-color: lightsteelblue;
    border-radius: 10px;
}

.container-form {
    display: flex;
}

.content-chat {
    padding: 20px;
}

.card-info {
    width: 50%
}

.card-chat {
    width: 50%;
    margin-left: 1.2em !important;
}

mat-card .message-left {
    width: 95%;
    border-radius: 30px;
    text-align: left;
    margin-bottom: 20px;
    background-color:#ffffff;
}

mat-card .message-right {
    width: 95%;
    border-radius: 30px;
    text-align: right;
    margin-bottom: 20px;
    background-color: #ffffff;
}

mat-form-field {
    width: 80%;
    margin-right: 12px;
}

mat-card-subtitle {
    padding-top: 16px;
}

.send-chat {
    /* background: white; */    
    width: 80%;
}

.send-chat-button {    
    padding-top: 15px;
    width: 10%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline:hover {
    border-color: lime;
}
